@use "./src/styles/calendar.scss";
@use "./src/styles/bar.scss";
@use "./src/styles/launcher.scss";
@use "./src/styles/workspaces.scss";
@use "./src/styles/media.scss";
@use "./src/styles/active-window.scss";

* {
  all: unset;
  font-family: "Monocraft Nerd Font";
}
