@use "./variables.scss" as v;

.calendar-container {
  box-shadow: 0 2px 3px 2px #06060b;
  margin: v.$margin-containers;
  margin-bottom: 10px;
  border-radius: v.$radius-sm;
  background-color: rgba(24, 24, 37, 0.92);
  padding: 10px;
}

.time-trigger {
  background-color: v.$color-item-bg;
  color: v.$color-primary;
  border-radius: v.$radius-sm;
  transition: color 0.3s;
  transition: background-color 0.3s;
  font-size: 9pt;

  &:hover {
    color: v.$color-white;
    background-color: v.$color-primary;
  }
}

.time-box {
  box-shadow: 0 2px 3px 2px rgba(6, 6, 11, 0.9);
  border-radius: v.$radius-sm;
  background-color: v.$color-item-bg;
}

.time-inner {
  padding: 15px;
}

.time-txt {
  color: v.$color-primary;
  font-size: 32px;
}

.date-txt {
  color: v.$color-white;
  font-size: 14px;
}

.calendar-box {
  box-shadow: 0 2px 3px 2px rgba(6, 6, 11, 0.9);
  border-radius: v.$radius-sm;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: v.$color-item-bg;
}

.cal {
  padding: 5px;
  color: rgb(205, 212, 246);
  &.header {
    color: rgb(219, 193, 117);
  }
  &.button {
    color: rgb(219, 193, 117);
    &:hover {
      color: rgb(230, 100, 100);
    }
  }
  &:indeterminate {
    color: rgba(205, 212, 246, 0.4);
  }
  &.highlight {
    color: rgb(245, 162, 96);
  }
}
