@use "./variables";

.launcher-trigger {
  background-color: variables.$item-bg;
  padding: 12px;
  border-radius: 24px;
  color: variables.$primary;
  transition: color 0.3s;
  transition: background-color 0.3s;

  &:hover {
    color: variables.$white;
    background-color: variables.$primary;
  }
}

.app-menu-container {
  box-shadow: 0 2px 3px 2px #06060b;
  background-color: variables.$bg;
  padding: 8px 24px;
  border-radius: 16px;
  margin: 5.5px;
}

.launcher-header {
  margin-bottom: 10px;
}

.app-item {
  transition: color 0.05s;
  &:hover {
    color: variables.$primary;
  }
}

.launcher-input {
  background-color: variables.$item-bg;
  padding: 6px;
  border-radius: 12px;
}

.tab-btn {
  margin: 6px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 2px 3px 2px rgba(6, 6, 11, 0.9);
}

.active {
  color: variables.$white;
  background-color: variables.$primary;
}

.inactive {
  background-color: variables.$item-bg;
  color: variables.$white;
}
