@use "./variables" as v;

.launcher-trigger {
  margin-left: 12px;

  background-color: v.$color-item-bg;
  border-radius: v.$radius-sm;
  color: v.$color-primary;
  transition: color 0.3s;
  transition: background-color 0.3s;

  min-width: 25px;
  min-height: 25px;

  &:hover {
    color: v.$color-white;
    background-color: v.$color-primary;
  }
}

.app-menu-container {
  box-shadow: 0 2px 3px 2px #06060b;
  background-color: v.$color-bg;
  padding: 8px 24px;
  border-radius: v.$radius-base;
  margin: v.$margin-containers;
}

.launcher-header {
  margin-bottom: 10px;
}

.app-item {
  transition: color 0.05s;
  &:hover {
    color: v.$color-primary;
  }
}

.launcher-input {
  background-color: v.$color-item-bg;
  border-radius: v.$radius-sm;
}

.tab-btn {
  margin: 6px;
  padding: 5px;
  border-radius: v.$radius-sm;
  box-shadow: 0 2px 3px 2px rgba(6, 6, 11, 0.9);
  background-color: v.$color-item-bg;
}

.active {
  color: v.$color-primary;
}

.inactive {
  color: v.$color-white;
}
