@use "./variables.scss" as v;

.media-trigger-wrapper {
  background-color: v.$item-bg;
  color: v.$primary;
  border-radius: 25px;

  &:hover {
    color: v.$white;
    background-color: v.$primary;
  }
}
