@use "./variables.scss" as v;

.media-trigger-wrapper {
  background-color: v.$color-item-bg;
  color: v.$color-primary;
  border-radius: v.$radius-sm;

  &:hover {
    color: v.$color-white;
    background-color: v.$color-primary;
  }
}
