// Colors

$color-bg: rgba(24, 24, 37, 0.94);
$color-item-bg: rgba(0, 0, 0, 0.35);
$color-primary: rgba(0, 178, 255, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

// Utils

$shadow: 0 2px 3px 2px #06060b;

// Radius

$radius-sm: 12px;
$radius-base: 16px;
$radius-lg: 18px;

// Sizings

$size-button: 30px;
$size-bar: 60px;

$margin-base: 10px;
$margin-containers: 5.5px;
