@use "./variables.scss" as v;

.workspaces {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 4px;
  border-radius: v.$radius-sm;
  min-height: 25px;
}

.indicator-dot {
  background-color: v.$color-primary;
  border-radius: v.$radius-sm;
  transition: all 0.3s;
}

.indicator-spacer {
  transition: all 0.3s;
}
